<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <title>查询数据</title>
    <link rel="stylesheet" href="/xxx/index.css">
</head>

<body>

    <div id="header">
        <div>
            <a href="/" style="color:blue">返回主页</a>
            <a href="/postEtcd" style="color:blue">添加数据</a>
        </div>

    </div>
    <p></p>

    <div style="overflow-x: auto; overflow-y: auto; height: 500px; width:1000px;">
        <table border="1" cellpadding="5" cellspacing="5">
            <tr>
                <th>Key</th>
                <th>Value</th>
            </tr>
            {{range .}}
            <tr>
                <td>{{.Key}}</td>
                <td>{{.Value}}</td>
            </tr>
            {{end}}
        </table>
    
    </div>

</body>

</html>